<p ng-show="dataLoadedPercent!=100">Loading data. Please be patient! It may take a few minutes. {{dataLoadedPercent}}% loaded</p>

<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" control="map.control">
	<ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
</ui-gmap-google-map>

<div google-chart chart="locationsChartObject" style="height:600px; width:100%;"></div>

<div google-chart chart="timedChartObject" style="height: 600px; width: 100%; margin-bottom: 50px;"></div>