<div class="row">
	<form role="form">
		<div class="form-group col-sm-4">
			<div class="col-sm-8">
				<input type="text" class="form-control" id="searchInput" ng-model="searchText.basicSearch">
			</div>
			<button type="submit" class="btn btn-default" ng-click="basicSearch(searchText.basicSearch)">Search</button>
		</div>
	</form>
</div>

<div class="row">
	<p ng-show="dataLoadedPercent!=100">Loading data. Please be patient! It may take a few minutes. {{dataLoadedPercent}}% loaded</p>
</div>
<div class="row">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" control="map.control">
		<ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
	</ui-gmap-google-map>
</div>

<div google-chart chart="locationsChartObject" style="height:600px; width:100%;"></div>

<div google-chart chart="timedChartObject" style="height: 600px; width: 100%; margin-bottom: 50px;"></div>