<div class="row">
	<form role="form">
		<div class="form-group col-sm-4">
			<div class="col-sm-8">
				<input type="text" class="form-control" id="searchInput" ng-model="vm.searchText">
			</div>
			<button type="submit" class="btn btn-default" ng-click="vm.peopleSearch()">Search</button>
		</div>
	</form>
</div>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.people">
        <td><a href="http://www.twitter.com/{{user.name}}" target="_blank">{{user.name}}</a></td>
        <td>{{user.count}}</td>
      </tr>
    </tbody>
  </table>